* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background-color: $body-background;
}

h1, h2, h3, h4 {
    font-family: $title-font;
}

h1, h2 {
    font-weight: lighter;
}

h5, h6, p, a {
    font-family: $regular-font;
    font-size: $text-size;
}

h4, h5, h6 {
    color: $text-colour-weak;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h5 {
    font-size: $h5-size;
}

h6 {
    font-size: $h6-size;
}

a, a:active, a:visited, a:link {
    text-decoration: none;
    color: $text-colour-link;
}

a:hover {
    color: $text-colour-link-hover;
}

code {
    font-family: $code-font;
    font-size: $text-size;
}

.code {
    margin: 3px 5px;
    padding: 3px 5px;
    background-color: $code-background;
    border: thin black solid;
    border-radius: 4px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.divider {
    height: 0;
    width: 80%;
    margin: 5px 10% 10px;
    border: 1px $divider-colour solid;
}

.section:not(:last-child) {
    margin: 0 0 5vh;
}

.table {
    border-collapse: collapse;
    border: none;
    width: 90%;
    margin: 0 5%;
    overflow-x: scroll;
    display: block;

    caption {
        font-size: $h5-size;
        font-family: $title-font;
        text-align: center;
    }

    th, td {
        border-bottom: 1px solid $divider-colour;
        padding: 1vh 2vw;
    }

    th {
        text-align: left;
        font-weight: bold;
        font-family: $title-font;
    }

    td {
        font-family: $regular-font;
    }

    tbody > tr:nth-child(2n) {
        background-color: $table-background-even;
    }

    tbody > tr:nth-child(2n+1) {
        background-color: $table-background-odd;
    }
}

.bkg-green { background-color: green;}
.bkg-red { background-color: red;}

@media screen {
    .screen-reader {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 3839px) {
    h1 {
        font-size: $h1-size*2;
    }
    
    h2 {
        font-size: $h2-size*2;
    }
    
    h3 {
        font-size: $h3-size*2;
    }
    
    h4 {
        font-size: $h4-size*2;
    }
    
    h5 {
        font-size: $h5-size*2;
    }
    
    h6 {
        font-size: $h6-size*2;
    }

    p, a, a:active, a:visited, a:link, code {
        font-size: $text-size*2;
    }
}